@import 'tailwindcss';
html,
body,
#root {
	height: 100%;
}

:root {
	--primary-color: #377764;
	--secondary-color: #6b7280;
}

.text-primary {
	color: var(--primary-color);
}
.text-secondary {
	color: var(--secondary-color);
}
